<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="icons8-turquia-16.png" rel="icon" type="image/png" sizes="16x16" />
    <title>Receitas do Renan</title>
</head>
<body>
    <h1>Receitas do Renan</h1>
    <a href="/add">Adicionar receita</a>
    <ul id="recipe-list">
        <% recipes.forEach(function(recipe) { %>
        <li>
            <h2><%= recipe.title %></h2>
            <p><%- recipe.description.split('\n').join('<br>') %></p>
            <a href="/edit/<%= recipe.id %>">Editar</a>
            <a href="/delete/<%= recipe.id %>?password=" class="delete-link" onclick="return confirmDelete(event, '<%= recipe.id %>')">Deletar</a>
        </li>
        <% }); %>
    </ul>
    
    <style>
        @import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
        body {
            background-color: #232D3F;
            font-weight: 550;
            font-family: 'Work Sans', sans-serif;
            padding: 20px;
        }

        h1 {
            color: whitesmoke;
            margin-bottom: 15px;
            margin-top: 15px;
        }

        ul {
            list-style: none;
            padding: 0;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: 20px;
            margin-top: 20px;
        }

        li {
            border: 1px solid whitesmoke;
            padding: 15px;
            color: white;
            border-radius: 5px;
            background-color: #2B3A50;
        }

        h2 {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        p {
            margin-bottom: 15px;
        }

        a {
            margin-right: 15px;
            color: #4CAF50;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .delete-link {
            color: #FF6347;
        }

        @media (max-width: 600px) {
            ul {
                grid-template-columns: 1fr;
            }
        }
    </style>
        
    <script>
        function confirmDelete(event, id) {
            const password = prompt('Digite a senha para confirmar a exclusão:');
            if (!password) {
                event.preventDefault();
                return false;
            }
            const url = `/delete/${id}?password=${encodeURIComponent(password)}`;
            window.location.href = url;
            return false;
        }
    </script>
</body>
</html>
